Client/Service References/QQServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="mytcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8080/ss?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/ss?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/ss?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQQS_Speak_InputMessage">
    <wsdl:part name="parameters" element="tns:Speak" />
  </wsdl:message>
  <wsdl:message name="IQQS_Whisper_InputMessage">
    <wsdl:part name="parameters" element="tns:Whisper" />
  </wsdl:message>
  <wsdl:message name="IQQS_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IQQS_join_InputMessage">
    <wsdl:part name="parameters" element="tns:join" />
  </wsdl:message>
  <wsdl:message name="IQQS_join_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinResponse" />
  </wsdl:message>
  <wsdl:message name="IQQS_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="IQQS_ReceiveWhisper_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWhisper" />
  </wsdl:message>
  <wsdl:message name="IQQS_UserEnter_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserEnter" />
  </wsdl:message>
  <wsdl:message name="IQQS_UserLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserLeave" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IQQS">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Speak">
      <wsdl:input wsaw:Action="http://tempuri.org/IQQS/Speak" message="tns:IQQS_Speak_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Whisper">
      <wsdl:input wsaw:Action="http://tempuri.org/IQQS/Whisper" message="tns:IQQS_Whisper_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IQQS/Leave" message="tns:IQQS_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="join">
      <wsdl:input wsaw:Action="http://tempuri.org/IQQS/join" message="tns:IQQS_join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQQS/joinResponse" message="tns:IQQS_join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IQQS/Receive" message="tns:IQQS_Receive_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveWhisper">
      <wsdl:output wsaw:Action="http://tempuri.org/IQQS/ReceiveWhisper" message="tns:IQQS_ReceiveWhisper_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserEnter">
      <wsdl:output wsaw:Action="http://tempuri.org/IQQS/UserEnter" message="tns:IQQS_UserEnter_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IQQS/UserLeave" message="tns:IQQS_UserLeave_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mytcp" type="tns:IQQS">
    <wsp:PolicyReference URI="#mytcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Speak">
      <soap12:operation soapAction="http://tempuri.org/IQQS/Speak" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Whisper">
      <soap12:operation soapAction="http://tempuri.org/IQQS/Whisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IQQS/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="join">
      <soap12:operation soapAction="http://tempuri.org/IQQS/join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IQQS/Receive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveWhisper">
      <soap12:operation soapAction="http://tempuri.org/IQQS/ReceiveWhisper" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserEnter">
      <soap12:operation soapAction="http://tempuri.org/IQQS/UserEnter" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLeave">
      <soap12:operation soapAction="http://tempuri.org/IQQS/UserLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="mytcp" binding="tns:mytcp">
      <soap12:address location="net.tcp://127.0.0.1:8081/tt" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:8081/tt</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>YDH\sam</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>